<h1>新潟のスキー場やで</h1>
<div class="snows-container">
<% @niigatas.each do |t| %>
    <% if t.category == "niigata" %>  
    <div class="snow-block">
    <p><%= image_tag t.image_url, size: "250x200" if t.image? %></p>
    </br>
    <div class="snow-index-textbox">
      <%= t.spot %>
      </br>
      <span class="star-rating">
      <span class="star-rating-front" style="width: <%= getPercent(t.overall) %>%;">★★★★★</span>
      <span class="star-rating-back">★★★★★</span>
      </span> 
      </br>
      <%= t.hp %>
      </br>
      <%= t.telephone %>
      </br>
      <%= t.address %>
      <div>
    </div>
    </div>
    </div>
    <% end %>
    <% end %>
    </div>
    </div>
    


  <%= link_to "一覧に戻る", snows_path %>