<div class="users-index">
    <h2>ALL USERS</h2>

    <% if user_signed_in? %>
        


        <% number = 1%>
        <div class="users-index-flexbox">
                <% @users.each do |u| %>
                <div class="user-in">
                    <div class="user-index-flex2">
                        <div class="users-index-image">
                            <%= image_tag u.image_url, size: "250x200" if u.image? %>
                        </div>
                        <div class="users-index-text">
                            <%= u.name %>さん </br>
                            <%= link_to 'ユーザーページへ', user_path(u.id) %> </br>
                        </div>
                    </div>
                <% number += 1 %>
                </div>
                <% end %>
        </div>

    <% else %>
    <%= link_to "SignUp", new_user_registration_path %>
    <br>
    <%= link_to "SignIn", new_user_session_path %>
    <% end %>
</div>


<style>
.signOutButton{
    text-decoration:none;
    display:inline-block;
    border:3px solid royalblue;
    background-color:aliceblue;
    padding:5px;
}

.user-in{
    display:block;
    width:500px;
    text-align:center;
    border:1px solid darkgray;
    background-color:gainsboro;
    flex-shrink: 0;
    margin: 0 auto;
}
</style>
