<!DOCTYPE html>
<html>
  <head>
    <title>Inocchi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
  </head>

  <body>
  <header>
  <h1>snow place</h1>
  <div class="header-list">
   <ul>
    <% if user_signed_in? %>
     <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "Sign up", new_user_registration_path %></li>
     <li><%= link_to "Log in", new_user_session_path %></li>
    <% end %>
   </ul>
  </div>


  <div class="hamburger-menu">
        <input type="checkbox" id="menu-btn-check">
        <label for="menu-btn-check" class="menu-btn"><span></span></label>
        <div class="menu-content">
            <ul>
                <li>
                    <%= link_to "HOME", snows_path %>
                </li>
                <li>
                <%= link_to "NEW POST", new_snow_path %>
                </li>
                <li>
                <% if user_signed_in? %>
  <%= link_to "MYPAGE", user_path(current_user.id) %>
<% end %>
                </li>
                <li>
                <%= link_to "niigata", snows_niigata_path %>
                </li>
                <li>
                <%= link_to "nagano", snows_nagano_path %>
                </li>
                <li>
                <%= link_to "gunnma", snows_gunnma_path %>
                </li>
            </ul>
        </div>
    </div>


 </header>
 <main>
  <%= yield %>
 </main>
 <footer>
 <p> ©inocchi&akarin.</p>
</footer>

  </body>
</html>
